
.blog-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "hd"
        "main"
        "ft";
    min-height: 100%;
    align-items: center;
}

header,
main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;  
}