@import "layout.css";
@import "blog-cards.css";
@import "media-queries.css";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: red solid 1px; */
}

html, body {
    margin: 0px;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

.link-secondary {
    color: #6c757d;
}

.text-yellow {
    color: #F4C430;
}

.text-green {
    color: #228B22;
}

.text-blue {
    color: #3185FC;
}



/* HEADER STYLES */
header {
    padding: 1rem;
}

.header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-row > * {
    flex-grow: 1;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nav-title {
    text-align: center;
}

button {
    color: #6c757d;
    background-color: transparent;
    border: none;
    float: right;
}

.header-border {
    border-bottom: 1px solid #e5e5e5;
}

/* MAIN STYLES*/
main {
    margin-top: 4rem;
}

 
/*  FOOTER STYLES*/ 
footer {
    margin-top: 4rem;
    background-color: #f5f5f5;
    padding: 2.5rem 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

